<div
  class="bg-white dark:bg-gray-900 rounded-lg p-4 border border-gray-200 dark:border-gray-700 mb-6"
>
  <div class="flex flex-wrap items-center gap-4">
    <div class="flex items-center gap-2">
      <span class="text-sm font-medium text-gray-700 dark:text-gray-300"
        >Filtrar por:</span
      >
    </div>

    <button
      [ngClass]="{
      'bg-blue-100 dark:bg-blue-900 text-blue-800 dark:text-blue-200':
        params().completed === undefined && params().priority === undefined,
      'bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 hover:bg-gray-200':
        params().completed !== undefined || params().priority !== undefined,
    }"
      class="px-3 py-1 text-sm rounded-full transition-colors cursor-pointer"
      (click)="clearFilter()"
    >
      Todas
    </button>
    <button
      [ngClass]="{
        'bg-blue-100 dark:bg-blue-900 text-blue-800 dark:text-blue-200':
          !params().completed,
        'bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 hover:bg-gray-200':
          params().completed === undefined || params().completed,
      }"
      class="px-3 py-1 text-sm rounded-full transition-colors cursor-pointer"
      (click)="onFilter({ completed: false })"
    >
      Pendientes
    </button>
    <button
      [ngClass]="{
        'bg-blue-100 dark:bg-blue-900 text-blue-800 dark:text-blue-200':
          params().completed,
        'bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 hover:bg-gray-200':
          params().completed === undefined ||
          params().completed === false,
      }"
      class="px-3 py-1 text-sm rounded-full transition-colors cursor-pointer"
      (click)="onFilter({ completed: true })"
    >
      Completadas
    </button>
    <button
      [ngClass]="{
        'bg-blue-100 dark:bg-blue-900 text-blue-800 dark:text-blue-200':
          params().priority === PriorityTask.HIGH,
        'bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 hover:bg-gray-200':
          params().priority === undefined
      }"
      class="px-3 py-1 text-sm rounded-full transition-colors cursor-pointer"
      (click)="onFilter({ priority: PriorityTask.HIGH })"
    >
      Urgentes
    </button>

    <div class="ml-auto">
      <select
        class="px-3 py-1 bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 text-sm rounded-lg border border-gray-300 dark:border-gray-600 focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        [formControl]="order"
        (change)="onOrder()"
      >
        <option value="createdAt">Ordenar por fecha</option>
        <option value="priority">Ordenar por prioridad</option>
        <option value="category">Ordenar por categoría</option>
      </select>
    </div>
  </div>
</div>
